---
import { SocialLinks } from '~/utils/utils';
import BaseLayout from '../../layouts/BaseLayout.astro';
import CalEmbed from '../../components/react/CalEmbed.jsx';
import Link from '~/components/Link.astro';
import Signature from '~/components/Signature.astro';
---

<BaseLayout pageTitle="contact" pageDescription="tweet, email, or book a call">
  <main>
    <section class="space-y-[1em]">
      <p>
        I'd love to hear from you so feel free to reach out to me via social
        media, email, or book a call via Cal below!
      </p>
      <p>
        I'm most active on <Link externalLink href={SocialLinks.x.href}
          >X/Twitter</Link
        > and <Link externalLink href={SocialLinks.linkedin.href}>LinkedIn</Link
        > these days, but you can reach find me everywhere via <Link
          externalLink
          href={SocialLinks.bento.href}>Bento</Link
        >. Or you can email me at <Link href="mailto:ryan@ryandotfurrer.com"
          >ryan@ryandotfurrer.com</Link
        >
      </p>
    </section>

    <div class="mt-8 space-y-4">
      <p class="mb-2 font-semibold uppercase">socials</p>
      <ul class="flex flex-col gap-2">
        <li>
          <Link externalLink withIcon href={SocialLinks.x.href}
            >Follow me on X</Link
          >
        </li>
        <li>
          <Link externalLink withIcon href={SocialLinks.linkedin.href}
            >Follow me on LinkedIn</Link
          >
        </li>
        <li>
          <Link externalLink withIcon href={SocialLinks.bento.href}
            >Find me everywhere else</Link
          >
        </li>
      </ul>
      <Signature />
    </div>
    <CalEmbed client:load />
  </main>
</BaseLayout>
