---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
---

<BaseLayout pageTitle="Ryan Furrer" pageDescription="frontend engineer. designer. blogger. podcaster. streamer." hasCTA={true}>
	<main>
		<section id="featured-links" class='space-y-8'>
			<Heading level="h2" size="3xl">
				what I do
			</Heading>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<Card class='space-y-4' href="/work">
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						width="24" 
						height="24" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						class="lucide lucide-code-xml size-10 mb-4"
					>
						<path d="m18 16 4-4-4-4"/>
						<path d="m6 8-4 4 4 4"/>
						<path d="m14.5 4-5 16"/>
					</svg>
					<Heading level="h3" size="2xl">
						Building a better web
					</Heading>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
					</p>
					<Link 
						href="/work" 
						withIcon={true} 
						class="group-hover:text-foreground break-normal inline-flex"
					>
						view my work
					</Link>
				</Card>
				<Card class='space-y-4' href="https://webdevdialogues.com"	>
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						width="24" 
						height="24" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						class="lucide lucide-podcast size-10 mb-4"
					>
						<path d="M16.85 18.58a9 9 0 1 0-9.7 0"/>
						<path d="M8 14a5 5 0 1 1 8 0"/>
						<circle cx="12" cy="11" r="1"/>
						<path d="M13 17a1 1 0 1 0-2 0l.5 4.5a.5.5 0 1 0 1 0Z"/>
					</svg>
					<Heading level="h3" size="2xl">
						Web Dev Dialogues Podcast
					</Heading>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
					</p>
					<Link href="https://webdevdialogues.com" externalLink={true} class="text-primary-muted group-hover:text-foreground">
						listen to the podcast
					</Link>
				</Card>
				<Card class='space-y-4' href="/writing"	>
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						width="24" 
						height="24" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						class="lucide lucide-notebook-pen size-10 mb-4"
					>
						<path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"/>
						<path d="M2 6h4"/>
						<path d="M2 10h4"/>
						<path d="M2 14h4"/>
						<path d="M2 18h4"/>
						<path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/>
					</svg>
					<Heading level="h3" size="2xl">
						Learn by reading
					</Heading>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
					</p>
					<Link href="/writing" withIcon={true} class="text-primary-muted group-hover:text-foreground">
							read what I've written
						</Link>
				</Card>
				<Card class='space-y-4' href="/speaking">
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						width="24" 
						height="24" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						class="lucide lucide-presentation size-10 mb-4"
					>
						<path d="M2 3h20"/>
						<path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3"/>
						<path d="m7 21 5-5 5 5"/>
					</svg>
					<Heading level="h3" size="2xl">
						Learn by watching
					</Heading>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
					</p>
					<Link href="/speaking" withIcon={true} class="text-primary-muted group-hover:text-foreground">
							watch my talks
					</Link>
				</Card>
				<Card class='space-y-4' href="https://cal.com/ryandotfurrer/coffee-chat">
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						width="24" 
						height="24" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						class="lucide lucide-mic size-10 mb-4"
					>
						<path d="M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z"/>
						<path d="M19 10v2a7 7 0 0 1-14 0v-2"/>
						<line x1="12" x2="12" y1="19" y2="22"/>
					</svg>
					<Heading level="h3" size="2xl">
						Book a Coffee Chat
					</Heading>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
					</p>
					<Link href="https://cal.com/ryandotfurrer/coffee-chat" externalLink={true} class="text-primary-muted group-hover:text-foreground">
						book a call
					</Link>
				</Card>
				<Card class='space-y-4' href="https://twitch.tv/ryandotfurrer">
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						width="24" 
						height="24" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						class="lucide lucide-twitch size-10 mb-4"
					>
						<path d="M21 2H3v16h5v4l4-4h5l4-4V2zm-10 9V7m5 4V7"/>
					</svg>
					<Heading level="h3" size="2xl">
						Hang out live
					</Heading>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
					</p>
					<Link href="https://twitch.tv/ryandotfurrer" externalLink={true} class="text-primary-muted group-hover:text-foreground">
						watch my streams
					</Link>
				</Card>
			</div>
		</section>
	</main>
</BaseLayout>
