---
import Card from './Card.astro';
import Heading from './Heading.astro';

interface Item {
  collection: string;
  type: string;
  id: string;
  data: {
    pubDate?: string;
    title: string;
    description: string;
    tags: string[];
  };
}

const currentPath = Astro.url.pathname;
let itemPath = '';

switch (true) {
  case currentPath.includes('/projects'):
    itemPath = 'projects';
    break;
  case currentPath.includes('/writing'):
    itemPath = 'writing';
    break;
  case currentPath.includes('/speaking'):
    itemPath = 'speaking';
    break;
  case currentPath.includes('/about'):
    itemPath = 'about';
    break;
}

const collection: Item[] = Astro.props.collection || [];
---

<section id="all-items-list" class="">
  {itemPath !== 'about' && (
    <Heading level="h2" size="3xl" class="pl-4">
      all {itemPath}
    </Heading>
  )}
  <ul class="space-y-8 max-w-screen-sm">
    {collection.map((item) => (
      <Card
        href={`/${itemPath}/${item.id}/`}
        hasLink={true}
        variant="transparent"
        class=" transition-all hover:border-border hover:bg-secondary/60 md:p-4"
      >
        <Heading level="h3" size="2xl" class="mb-0">
          {item.data.title}
        </Heading>
        <p class="line-clamp-2">{item.data.description}</p>
        <div class="flex gap-x-4">
          {item.data.tags.map((tag) => (
            <span class="text-sm before:content-['#']">{tag}</span>
          ))}
        </div>
      </Card>
    ))}
  </ul>
</section>
