---
import { NavLinks, SocialLinks } from '~/utils/utils';

import Link from './Link.astro';
import NewsletterBeehiivForm from './NewsletterBeehiivForm.astro';

const today = new Date();
const currentPath = Astro.url.pathname;
---

<footer class='border-border mx-auto mt-12 border-t-1 py-8'>
  <div class='grid gap-y-12 md:grid-cols-3'>
    <div
      id='sitemap'
      class='text-left'
    >
      <p class='mb-2 font-semibold uppercase'>sitemap</p>
      <nav>
        <ul class='flex flex-col gap-2'>
          {
            NavLinks.map((link) => (
              <li>
                <Link
                  href={link.href}
                  class={
                    currentPath === link.href ?
                      'decoration-accent underline'
                    : 'hover:no-underline'
                  }
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div>
      <p class='mb-2 font-semibold uppercase'>socials</p>
      <ul class='flex flex-col gap-2'>
        <li>
          <Link
            externalLink
            withIcon
            href={SocialLinks.x.href}
            >Follow me on X</Link
          >
        </li>
        <li>
          <Link
            externalLink
            withIcon
            href={SocialLinks.linkedin.href}
            >Follow me on LinkedIn</Link
          >
        </li>
        <li>
          <Link
            externalLink
            withIcon
            href={SocialLinks.bento.href}
            >Find me everywhere</Link
          >
        </li>
      </ul>
    </div>
    <div class='space-y-2'>
      <p class='font-semibold uppercase'>newsletter</p>
      <p>Here we talk about software engineering, tech, and productivity.</p>
      <NewsletterBeehiivForm />
    </div>
  </div>
  <p class='mt-4 text-left'>
    &copy; {today.getFullYear()} Ryan Furrer. All rights reserved.
  </p>
</footer>
