---
import { NavLinks, SocialLinks } from '~/utils/utils';
import Link from './Link.astro';
import NewsletterBeehiivForm from './NewsletterBeehiivForm.astro';

const today = new Date();
const currentPath = Astro.url.pathname;
---

<footer class="border-border mx-auto mt-12 border-t-1 py-8">
  <div class="grid gap-x-12 gap-y-12 md:grid-cols-2 lg:grid-cols-6">
    <div class="flex flex-col space-y-4 lg:col-span-2">
      <img src="/logo.svg" alt="Logo" class="size-10" />
      <p>
        I'm Ryan, a frontend engineer that loves to make sh*t look good. I am
        also a blogger, streamer, and public speaker.
      </p>
      <div
        class="dark:bg-background flex w-fit items-center rounded-sm border border-emerald-500 bg-white"
      >
        <span
          class="mb-0 rounded-sm border border-transparent bg-emerald-200/20 p-2 font-sans text-xs leading-none font-semibold tracking-normal text-emerald-700 md:text-sm dark:bg-emerald-800/50 dark:text-emerald-500"
          >looking for work</span
        >
      </div>
      <p class="mt-4 mb-1 text-sm">
        &copy; {today.getFullYear()} Ryan Furrer. All rights reserved.
      </p>
      <p class="">
        <Link
          class="text-sm"
          externalLink
          withIcon
          href={SocialLinks.githubPortfolioRepo.href}
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-github-icon lucide-github text-foreground-muted size-5"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
          >View this site's repo</Link
        >
      </p>
    </div>
    <div id="sitemap" class="text-left">
      <p class="mb-2 font-semibold uppercase">sitemap</p>
      <nav>
        <ul class="flex flex-col gap-2">
          {
            NavLinks.map((link) => (
              <li>
                <Link
                  href={link.href}
                  class={
                    currentPath === link.href
                      ? 'decoration-accent underline'
                      : 'hover:no-underline'
                  }
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div>
      <p class="mb-2 font-semibold uppercase">socials</p>
      <ul class="flex flex-col gap-2">
        <li>
          <Link externalLink withIcon href={SocialLinks.x.href}
            >Follow me on X</Link
          >
        </li>
        <li>
          <Link externalLink withIcon href={SocialLinks.github.href}
            >Follow me on GitHub</Link
          >
        </li>
        <li>
          <Link externalLink withIcon href={SocialLinks.linkedin.href}
            >Follow me on LinkedIn</Link
          >
        </li>
        <li>
          <Link externalLink withIcon href={SocialLinks.bento.href}
            >Find me everywhere else</Link
          >
        </li>
      </ul>
    </div>
    <div class="space-y-2 lg:col-span-2">
      <p class="font-semibold uppercase">newsletter</p>
      <p>Here we talk about software engineering, tech, and productivity.</p>
      <NewsletterBeehiivForm />
    </div>
  </div>
</footer>
