---
import { NavLinks, SocialLinks } from '~/utils/utils';
import Link from './Link.astro';
import NewsletterBeehiivForm from './NewsletterBeehiivForm.astro';
import { Twitter, Linkedin, Github, Globe } from 'lucide-react';

const today = new Date();
const currentPath = Astro.url.pathname;
---

<footer class="border-border mx-auto mt-12 border-t-1 py-8">
  <div class="grid gap-x-12 gap-y-12 md:grid-cols-2 lg:grid-cols-6">
    <div class="flex flex-col space-y-4 lg:col-span-2">
      <img src="/logo.svg" alt="Logo" class="size-10" />
      <p>
        I'm Ryan, a frontend engineer that loves to make sh*t look good. I am
        also a blogger, streamer, and public speaker.
      </p>
      <div
        class="dark:bg-background flex w-fit items-center rounded-sm border border-emerald-500 bg-white"
      >
        <span
          class="mb-0 rounded-sm border border-transparent bg-emerald-200/20 p-2 font-sans text-xs leading-none font-semibold tracking-normal text-emerald-700 md:text-sm dark:bg-emerald-800/50 dark:text-emerald-500"
          >looking for work</span
        >
      </div>
    </div>
    <div class="grid grid-cols-2 md:col-span-2">
    <div id="sitemap" class="text-left">
      <p class="mb-2 font-semibold uppercase">sitemap</p>
      <nav>
        <ul class="flex flex-col gap-2">
          {
            NavLinks.map((link) => (
              <li>
                <Link
                  href={link.href}
                  class:list={['nav-link', { 'hover:no-underline': true }]}
                  data-href={link.href}
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div>
      <p class="mb-2 font-semibold uppercase">socials</p>
      <ul class="flex flex-col gap-2">
        <li>
          <Link
            externalLink
            href={SocialLinks.x.href}
            class="group flex w-fit items-center"
            ><Twitter
              className="group-hover:text-foreground size-5"
            />twitter</Link
          >
        </li>
        <li>
          <Link
            externalLink
            href={SocialLinks.github.href}
            class="group flex w-fit items-center"
            ><Github
              className="group-hover:text-foreground size-5"
            />github</Link
          >
        </li>
        <li>
          <Link
            externalLink
            href={SocialLinks.linkedin.href}
            class="group flex w-fit items-center"
            ><Linkedin
              className="group-hover:text-foreground size-5"
            />linkedIn</Link
          >
        </li>
        <li>
          <Link
            externalLink
            href={SocialLinks.bento.href}
            class="group flex w-fit items-center"
            ><Globe className="group-hover:text-foreground size-5" />bento</Link
          >
        </li>
      </ul>
    </div>
    </div>
    <div class="space-y-2 lg:col-span-2">
      <p class="font-semibold uppercase">newsletter</p>
      <p>Here we talk about software engineering, tech, and productivity.</p>
      <NewsletterBeehiivForm />
    </div>
  </div>
  <div
    class="align-items mx-auto pt-8 text-center text-sm max-sm:space-y-4 md:flex md:justify-between md:text-left"
  >
    <p>
      &copy; {today.getFullYear()} Ryan Furrer. All rights reserved.
    </p>
    <p>
      <Link
        externalLink
        href={SocialLinks.githubPortfolioRepo.href}
        class="group text-sm"
        ><Github className="group-hover:text-foreground size-4" />View this
        site's repo</Link
      >
    </p>
  </div>
</footer>

<script>
  function updateActiveLinks() {
    const links = document.querySelectorAll('.nav-link');
    links.forEach((link) => {
      if (link instanceof HTMLElement) {
        link.classList.remove(
          'underline',
          'decoration-accent',
          'hover:no-underline',
        );

        const currentPath = window.location.pathname;
        const linkPath = link.dataset.href;
        const isActive =
          linkPath === currentPath ||
          (linkPath === '/writing' && currentPath.startsWith('/writing/')) ||
          (linkPath === '/speaking' && currentPath.startsWith('/speaking/')) ||
          (linkPath === '/about' && currentPath.startsWith('/about/')) ||
          (linkPath === '/projects' && currentPath.startsWith('/projects/'));

        if (isActive) {
          link.classList.add('underline', 'decoration-accent');
        } else {
          link.classList.add('hover:no-underline');
        }
      }
    });
  }

  updateActiveLinks();

  document.addEventListener('astro:page-load', updateActiveLinks);
</script>
